<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.repco.perfect.glassapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/remember"
        android:label="@string/app_name" >
        <uses-library
            android:name="com.google.android.glass"
            android:required="true" />

        <activity
            android:name=".LaunchMenuActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ClipCaptureActivity"
            android:enabled="true"
            android:immersive="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ClipPreviewActivity"
            android:enabled="true"
            android:immersive="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ClipRecorderActivity"
            android:enabled="true"
            android:immersive="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ChapterUploadActivity"
            android:enabled="true"
            android:immersive="true"
            android:label="@string/app_name" >
        </activity>
        <!--
        <activity
            android:name="com.repco.perfect.glassapp.ChapterPublishActivity"
            android:enabled="true"
            android:immersive="true"
            android:label="@string/app_name" >

            <intent-filter>
                <data android:scheme="com.repco.perfect.glassapp.scheme" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        -->
        <service
            android:name="com.repco.perfect.glassapp.ClipService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/remember"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/perfect_show" />
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </service>


        <service
            android:name="com.repco.perfect.glassapp.storage.StorageService"
            android:enabled="true" />


    </application>

</manifest>
